{% extends "base/base.html" %} 
{% load static %}

{% block title %}
  Materials
{% endblock %}

{% block content %}
<h1 class="mb-5 text-secondary">Materials</h1>
{% if materials_files_list %}
{% for material_files in materials_files_list %}
    <h4>{{ material_files.0.name }}</h4>
    {% if material_files.1 %}
    <ul>
        {% for file in material_files.1%}
        <li>{{ file.name }}: <a href="{{ file.file.url }}">{{ file.name }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endfor %}
{% else %}
<p>No materials added yet.</p>
{% endif %}
{% endblock %}