{% extends "base/base.html" %}
{% load static %}
{% load markdown_filter %}


{% block title %}
| About
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href={% static "about/style.css" %}>
{% endblock %}

{% block content %}
<h1 class="mb-5 text-secondary">About</h1>
{% if content %}
<div id="aboutcontents" class="text-justify">
    {{ content.contents | markdown | safe }}
</div>
{% else %}
<p>No about content specified. Specify it on the administration page.</p>
{% endif %}

{% if videos_list %}
<h2 class="mt-5">Videos</h2>
{% for video in videos_list %}
    <h4 class="mt-5">{{ video.name }}</h4>
    <iframe width="560" height="315"
    src="{{ video.url }}"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
    <p>{{ video.description }}</p>
{% endfor %}
{% endif %}

{% if downloadables_list %}
<h2 class="mt-5">Materials</h2>
<ul>
    {% for item in downloadables_list %}
    <li><a href="{{ item.file.url }}">{{ item.name }}</a> - <span class="text-muted">{{ item.description }}</span></li>
    {% endfor %}
</ul>
{% endif %}
<hr>
{% endblock %}
