{% extends "frontpage/base.html" %}
{% block content %}
<h1 class="mb-5 text-secondary">Publications</h1>
<div>
{% if publication_list %}
{% for publication in publication_list %}
<p></p>
<span class="text-muted">{{publication.type }}</span>
<h4>{{ publication.title }}</h4>
<h6 class="font-weight-bold">{{ publication.authors }}</h6>
<h6>{{ publication.info }}</h6>
{% if publication.doi_url %}
<a href={{ publication.doi_url }}>DOI</a> |
{% endif %}
<a href={{ publication.open_access_url }}>Open access</a>
{% endfor %}
{% endif %}
</div>
<hr>
{% endblock %}
<!-- {% load static %} -->
<!-- <h1 align="center">Publications</h1> -->
<!-- <hr> -->
<!-- {% if bibentry_list %} -->
<!-- {% for entry in bibentry_list %} -->
<!-- <h3><a href={{ entry.doi_url }}>{{ entry.title }}</a></h3> -->
<!-- <p><b>{{ entry.authors }}</b>, {{ entry.journal_title }}, {{ entry.volume_and_issue }}, {{ entry.pages }}, {{entry.year }}</p> -->
<!-- {% endfor %} -->
<!-- {% endif %} -->
<!-- <p></p> -->
<!-- <a href="/">Back</a> -->
