{% extends "frontpage/base.html" %}
{% load static %}

{% block carousel %}
<!-- Carousel -->
<div id="main-carousel" class="carousel slide bg-light" data-ride="carousel">
    <ol class="carousel-indicators">
	{% if carousel_images %}
	{% for image in carousel_images %}
	{% if forloop.counter0 == 0 %}
	<li data-target="#main-carousel" data-slide-to="0" class="active"></li>
	{% else %}
	<li data-target="#main-carousel" data-slide-to="{{ forloop.counter0 }}"></li>
	{% endif %}
	{% endfor %}
	{% endif %}
    </ol>
    <div class="carousel-inner">
	{% if carousel_images %}
	{% for image in carousel_images %}
	{% if forloop.counter0 == 0 %}
	<div class="carousel-item active">
	    {% else %}
	    <div class="carousel-item">
		{% endif %}
		<img class="d-block w-50 h-50 img-fluid" src={{ image.image.large.url }} alt="{{ image.name }}" style="margin: auto;">
		<div class="carousel-caption d-none d-md-block text-light w-50" style="margin: auto;">
		    <h3 class="h3-responsive font-weight-bold" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black">{{ image.description }}</h3>
		</div>
	    </div>
	    {% endfor %}
	    {% endif %}
	</div>
    </div>
</div>
<!-- End carousel -->
{% endblock %}
    
{% block content %}
    <!-- Featurettes -->
    {% if featurettes %}
    {% for featurette in featurettes %}
    {% if forloop.counter0|divisibleby:2 %}
    <!-- Justify left -->
    <hr class="featurette-divider">
    <div class="row featurette">
	<div class="col-md-7">
	    <h2 class="featurette-heading">{{ featurette.title }}</h2>
	    <p class="lead">{{ featurette.text_content }}</p>
	    <p><a class="btn btn-secondary" href="{{ featurette.link}}" role="button">View details &raquo;</a></p>
	</div>
	<div class="col-md-5">
	    <img class="featurette-image img-fluid rounded" src={{ featurette.image.url }} alt="{{featurette.name}}">
	</div>
    </div>
    {% else %}
    <!-- Justify right -->
    <hr class="featurette-divider">
    <div class="row featurette">
	<div class="col-md-7 order-md-2 text-right">
	    <h2 class="featurette-heading">{{ featurette.title }}</h2>
	    <p class="lead">{{ featurette.text_content }}</p>
	    <p><a class="btn btn-secondary" href="{{ featurette.link }}" role="button">View details &raquo;</a></p>
	</div>
	<div class="col-md-5 order-md-1">
	    <img class="featurette-image img-fluid rounded" src={{ featurette.image.url }} alt="{{ featurette.name }}">
	</div>
    </div>
    {% endif %}
    {% endfor %}
    <hr class="featurette-divider">
</div>
{% endif %}
<!-- End featurettes -->
{% endblock %}
