{% extends "base/base.html" %}
{% load static %}
{% load markdown_filter %}

{% block title %}
| Software
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href={% static "software/style.css" %}>
{% endblock %}

{% block content %}
<h1 class="mb-5 text-secondary">Software</h1>
{% if content %}
<div id="aboutsoftware"  class="text-justify">
  {{ content.contents | markdown | safe }}
</div>
{% else %}
<p>No software content specified. Specify it on the administration page.</p>
{% endif %}
<hr>
{% endblock %}
